.addform{
    padding:25px 50px 100px;
 }
 
 .center-title{
     text-align:center;
     margin-bottom: 50px;
 }

 
.btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
}
